add/add_bop
add/add_orig
add/add_ppr_only_bop
add/add_ppr_only_orig

mem/add_mem_test_bop
mem/add_mem_test_orig

sleep/sleep_orig
sleep/sleep_bop

str/BOP_string/string_orig
str/BOP_string/string_bop

str/BOP_strcmp/string_bop
str/BOP_strcmp/string_orig

str/strsub/strsub_orig
str/strsub/strsub_bop

str/strsub/strsub_orig
str/strsub/strsub_bop

wrapper_test
malloc_test

str/strsub2/string_orig
str/strsub2/string_bop

*_bop
*_orig
mem/big_alloc_*
