p {
	font-size: medium;
	font-family: sans-serif;
}

h1 {
	font-size: xx-large;
	color: #009966;
	font-weight: bold;
	font-family: sans-serif;
}
toc-h1 {
	font-size: large;
	color: #009966;
	font-weight: bold;
	font-family: sans-serif;
}
li {
	list-style-position: outside;
	list-style-type: circle;
	font-size: medium;
	font-family: sans-serif;
}
h2 {
	font-size: large;
	color: #006633;
	font-weight: bold;
	font-family: sans-serif;
}
code {
	color: #996633;
	font-size: large;
	font-family: monospace;
}
pre.programlisting {
	font-weight: bold;
	padding-bottom: 0.4cm;
	padding-top: 0.4cm;
	padding-right: 0cm;
	padding-left: 0.4cm;
	background-color: #99cccc;
	margin-left: 1cm;
	margin-bottom: 0.2cm;
	margin-right: 3cm;
	margin-top: 0.2cm;
	text-align: left;
	list-style-type: none;
	color: #996633;
	font-size: medium;
	font-family: monospace;
}
